.nosotros{
    display: flex;
    justify-content: center;
    gap: 1rem;
  
    .card img{
      width: 600px;
      position: relative;
      display: block;
      border-radius: 10% 25%;
      transition: border-radius 0.5s;
  
      &:hover{
        border-radius: 25% 10%;
        transition: 1s;
      }
    }
  }
    /*.nosotros1 {
      width: 100%;
      height: 100%;
      object-fit: cover;
      background-color: transparent;
  
      &:hover img {
        overflow: hidden;
        transition: 1s;
      }
    }
  
    .nosotros2 {
      width: 100%;
      background-color: transparent;
  
      &:hover img {
        overflow: hidden;
        transition: 1s;
      }
    }*/